In [1]:
# Import the necessary library
import pandas as pd
from datetime import datetime
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Load the raw data into a DataFrame
df = pd.read_csv('fifa21_raw_data.csv',low_memory=False)
df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [3]:
df.shape

(18979, 77)

In [4]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB
None
                Age          ↓OVA           POT             ID           BOV  \
count  18979.000000  18979.000000  18979.000000   18979.000000  18979.000000
mean      25.194583     65.718636     71.136098  226404.790242     66.751620
std        4.710753      6.968999      6.114176   27141.673349      6.747017
min       16.000000     47.000000     47.000000      41.000000     48.000000
25%       21.000000     61.000000     67.000000  210135.000000     62.000000
50%       25.000000     66.000000     71.000000  232424.000000     67.000000
75%       29.000000     70.000000     75.000000  246925.500000     71.000000
max       53.000000     93.000000     95.000000  259216.000000     93.000000

             Growth     Attacking      Crossing     Finishing  \
count  18979.000000  18979.000000  18979.000000  18979.000000
mean       5.417461    248.938616     49.688551     45.842932
std        5.663954     74.299764     18.131334     19.566978
min        0.000000     42.000000      6.000000      3.000000
25%        0.000000    222.000000     38.000000     30.000000
50%        4.000000    263.000000     54.000000     49.000000
75%        9.000000    297.000000     63.000000     62.000000
max       26.000000    437.000000     94.000000     95.000000

       Heading Accuracy  ...  GK Positioning   GK Reflexes   Total Stats  \
count      18979.000000  ...    18979.000000  18979.000000  18979.000000
mean          51.941883  ...       16.217609     16.519205   1595.293851
std           17.293626  ...       17.002134     17.854185    269.883542
min            5.000000  ...        2.000000      2.000000    747.000000
25%           44.000000  ...        8.000000      8.000000   1452.000000
50%           55.000000  ...       11.000000     11.000000   1627.000000
75%           64.000000  ...       14.000000     14.000000   1781.000000
max           93.000000  ...       91.000000     90.000000   2316.000000

         Base Stats           PAC           SHO           PAS           DRI  \
count  18979.000000  18979.000000  18979.000000  18979.000000  18979.000000
mean     355.703040     67.454239     53.457716     57.681069     62.875494
std       40.762282     10.678058     13.827229     10.081914      9.927875
min      232.000000     25.000000     16.000000     25.000000     25.000000
25%      327.000000     61.000000     44.000000     51.000000     57.000000
50%      356.000000     68.000000     56.000000     58.000000     64.000000
75%      384.000000     75.000000     64.000000     64.000000     69.000000
max      498.000000     96.000000     93.000000     93.000000     95.000000

                DEF           PHY
count  18979.000000  18979.000000
mean      49.865904     64.368618
std       16.442730      9.601665
min       12.000000     28.000000
25%       35.000000     58.000000
50%       53.000000     65.000000
75%       63.000000     71.000000
max       91.000000     91.000000

[8 rows x 55 columns]

In [5]:
#separating columns nto object and integer dtypes
object_cols = list(df.select_dtypes(include=['object']).columns)
int_cols = list(df.select_dtypes(include=['int']).columns)
print("Integer columns:", int_cols)

Integer columns: ['Age', '↓OVA', 'POT', 'ID', 'BOV', 'Growth', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY']

In [6]:
print("Object columns:", object_cols)

Object columns: ['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name', 'Team & Contract', 'Height', 'Weight', 'foot', 'BP', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits']

In [7]:
df=df.rename(columns={'↓OVA':'OVA', 'W/F': 'WF','A/W':'AW', 'D/W':'DW' })

In [8]:
# drop duplicates 
# Find duplicated columns
duplicated_columns = df.columns[df.columns.duplicated()]

# Print duplicated column names
print("Duplicated Columns:")
print(list(duplicated_columns))
#drop duplicates
df=df.drop_duplicates()

Duplicated Columns:
[]

In [9]:
#It give us in boolean form. the ones with missing are in true and the complete are in false
missing_data = df.isnull()
#Helps to show the misssing data by giving us the amount of missing data we have in a column.
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print('')

# loan Date End has 17966 missing data

photoUrl
False    18978
Name: photoUrl, dtype: int64

LongName
False    18978
Name: LongName, dtype: int64

playerUrl
False    18978
Name: playerUrl, dtype: int64

Nationality
False    18978
Name: Nationality, dtype: int64

Positions
False    18978
Name: Positions, dtype: int64

Name
False    18978
Name: Name, dtype: int64

Age
False    18978
Name: Age, dtype: int64

OVA
False    18978
Name: OVA, dtype: int64

POT
False    18978
Name: POT, dtype: int64

Team & Contract
False    18978
Name: Team & Contract, dtype: int64

ID
False    18978
Name: ID, dtype: int64

Height
False    18978
Name: Height, dtype: int64

Weight
False    18978
Name: Weight, dtype: int64

foot
False    18978
Name: foot, dtype: int64

BOV
False    18978
Name: BOV, dtype: int64

BP
False    18978
Name: BP, dtype: int64

Growth
False    18978
Name: Growth, dtype: int64

Joined
False    18978
Name: Joined, dtype: int64

Loan Date End
True     17965
False     1013
Name: Loan Date End, dtype: int64

Value
False    18978
Name: Value, dtype: int64

Wage
False    18978
Name: Wage, dtype: int64

Release Clause
False    18978
Name: Release Clause, dtype: int64

Attacking
False    18978
Name: Attacking, dtype: int64

Crossing
False    18978
Name: Crossing, dtype: int64

Finishing
False    18978
Name: Finishing, dtype: int64

Heading Accuracy
False    18978
Name: Heading Accuracy, dtype: int64

Short Passing
False    18978
Name: Short Passing, dtype: int64

Volleys
False    18978
Name: Volleys, dtype: int64

Skill
False    18978
Name: Skill, dtype: int64

Dribbling
False    18978
Name: Dribbling, dtype: int64

Curve
False    18978
Name: Curve, dtype: int64

FK Accuracy
False    18978
Name: FK Accuracy, dtype: int64

Long Passing
False    18978
Name: Long Passing, dtype: int64

Ball Control
False    18978
Name: Ball Control, dtype: int64

Movement
False    18978
Name: Movement, dtype: int64

Acceleration
False    18978
Name: Acceleration, dtype: int64

Sprint Speed
False    18978
Name: Sprint Speed, dtype: int64

Agility
False    18978
Name: Agility, dtype: int64

Reactions
False    18978
Name: Reactions, dtype: int64

Balance
False    18978
Name: Balance, dtype: int64

Power
False    18978
Name: Power, dtype: int64

Shot Power
False    18978
Name: Shot Power, dtype: int64

Jumping
False    18978
Name: Jumping, dtype: int64

Stamina
False    18978
Name: Stamina, dtype: int64

Strength
False    18978
Name: Strength, dtype: int64

Long Shots
False    18978
Name: Long Shots, dtype: int64

Mentality
False    18978
Name: Mentality, dtype: int64

Aggression
False    18978
Name: Aggression, dtype: int64

Interceptions
False    18978
Name: Interceptions, dtype: int64

Positioning
False    18978
Name: Positioning, dtype: int64

Vision
False    18978
Name: Vision, dtype: int64

Penalties
False    18978
Name: Penalties, dtype: int64

Composure
False    18978
Name: Composure, dtype: int64

Defending
False    18978
Name: Defending, dtype: int64

Marking
False    18978
Name: Marking, dtype: int64

Standing Tackle
False    18978
Name: Standing Tackle, dtype: int64

Sliding Tackle
False    18978
Name: Sliding Tackle, dtype: int64

Goalkeeping
False    18978
Name: Goalkeeping, dtype: int64

GK Diving
False    18978
Name: GK Diving, dtype: int64

GK Handling
False    18978
Name: GK Handling, dtype: int64

GK Kicking
False    18978
Name: GK Kicking, dtype: int64

GK Positioning
False    18978
Name: GK Positioning, dtype: int64

GK Reflexes
False    18978
Name: GK Reflexes, dtype: int64

Total Stats
False    18978
Name: Total Stats, dtype: int64

Base Stats
False    18978
Name: Base Stats, dtype: int64

WF
False    18978
Name: WF, dtype: int64

SM
False    18978
Name: SM, dtype: int64

AW
False    18978
Name: AW, dtype: int64

DW
False    18978
Name: DW, dtype: int64

IR
False    18978
Name: IR, dtype: int64

PAC
False    18978
Name: PAC, dtype: int64

SHO
False    18978
Name: SHO, dtype: int64

PAS
False    18978
Name: PAS, dtype: int64

DRI
False    18978
Name: DRI, dtype: int64

DEF
False    18978
Name: DEF, dtype: int64

PHY
False    18978
Name: PHY, dtype: int64

Hits
False    18978
Name: Hits, dtype: int64

In [10]:

# Remove newline characters 

df['Hits'] = df['Hits'].str.replace('\n', ' ')
df['Hits']=df['Hits'].str.replace('[^0-9]', '', regex=True)
df['Hits'] = df['Hits'].astype('int64')
df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,OVA,POT,Team & Contract,...,AW,DW,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,273

In [11]:
# Split the 'Team Contract' column into 'Team' and 'Contract' columns
# creating two new columns and initially assigning them the same values as the Team & Contract column
df['Club'] = df['Team & Contract']  
df['Contract'] = df['Team & Contract']
def changes(row):
    a = row['Team & Contract'].split('\n') # splitting the team and contract column into a list based on the newline character
    ele=''
    x=[i for i in a if i!=ele]
    row['Club'] = x[0] # assigning the first element of the list to the club column
    row['Contract'] = x[1]  # assigning the second element to the contract column

    
    return row

df = df.apply(changes,axis='columns')
#f['Team'] = df['Team'].str.replace('\n', ' ')
#f['Contract'] = df['Contract'].str.replace('\n', ' ')
df.drop(['Team & Contract'], axis='columns',inplace=True) # The Team & Contract column is no longer required so we just go ahead and drop it.
    
df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,OVA,POT,ID,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Club,Contract
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,158023,...,5 ★,85,92,91,95,38,65,372,FC Barcelona,2004 ~ 2021
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,...,5 ★,89,93,81,89,35,77,344,Juventus,2018 ~ 2022
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,200389,...,3 ★,87,92,78,90,52,90,86,Atlético Madrid,2014 ~ 2023
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,...,4 ★,76,86,93,88,64,78,163,Manchester City,2015 ~ 2023
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,190871,...,5 ★,91,85,86,94,36,59,273,Paris Saint-Germain,2017 ~ 2022

In [12]:
df['Loan Date End'].unique()

array([nan, 'Jun 30, 2021', 'Dec 31, 2020', 'Jan 30, 2021',
       'Jun 30, 2022', 'May 31, 2021', 'Jul 5, 2021', 'Dec 31, 2021',
       'Jul 1, 2021', 'Jan 1, 2021', 'Aug 31, 2021', 'Jan 31, 2021',
       'Dec 30, 2021', 'Jun 23, 2021', 'Jan 3, 2021', 'Nov 27, 2021',
       'Jan 17, 2021', 'Jun 30, 2023', 'Jul 31, 2021', 'Nov 22, 2020',
       'May 31, 2022', 'Dec 30, 2020', 'Jan 4, 2021', 'Nov 30, 2020',
       'Aug 1, 2021'], dtype=object)

In [13]:
df['Contract'].unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2018 ~ 2024', '2017 ~ 2023', '2016 ~ 2023',
       '2018 ~ 2023', '2014 ~ 2022', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2019 ~ 2024', '2012 ~ 2021',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2016 ~ 2025', '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022',
       '2012 ~ 2022', '2012 ~ 2023', '2013 ~ 2022', '2011 ~ 2022',
       '2012 ~ 2024', '2016 ~ 2021', '2019 ~ 2022', '2008 ~ 2022',
       '2013 ~ 2024', '2017 ~ 2021', '2020 ~ 2024', '2010 ~ 2022',
       '2011 ~ 2024', '2020 ~ 2023', '2020 ~ 2021', '2014 ~ 2024',
       '2016 ~ 2022', '2013 ~ 2026', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2011 ~ 2025',
       '2019 ~ 2020', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2020 ~ 2020', '2008 ~ 2021',
       '2016 ~ 2026', '2012 ~ 2020', 'Jan 30, 2021 On Loan',
       '2014 ~ 2025', '2015 ~ 2020', 'Jun 30, 2022 On Loan',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2013 ~ 2020',
       '2014 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2011 ~ 2020', '2004 ~ 2025',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       '2006 ~ 2021', 'Aug 31, 2021 On Loan', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       '1998 ~ 2021', 'Jun 30, 2023 On Loan', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [14]:
#grouping each unique values in contract to kow their value count of each.
def values_contract(value):
    if 'On Loan' in value:
        return 'On Loan'
    elif 'Free' in value:
        return 'Free Players'
    elif '~' in value:
        return 'Under Contract'
    else:
        return 'Not Found'

In [15]:
# this creates a new column using our check_contract function
df['contract_type'] = df['Contract'].apply(values_contract)

In [16]:
df['contract_type'].value_counts()

Under Contract    17728
On Loan            1013
Free Players        237
Name: contract_type, dtype: int64

In [17]:
df['contract_type'].sample(7)

970      Under Contract
13804    Under Contract
15937    Under Contract
11360    Under Contract
10208    Under Contract
13919    Under Contract
10284    Under Contract
Name: contract_type, dtype: object

In [18]:
df.drop(['Loan Date End'], axis = 1, inplace = True)

In [19]:
#Date(month and year) at which each player joined the team they are playing for.
df['Joined'].head()

0     Jul 1, 2004
1    Jul 10, 2018
2    Jul 16, 2014
3    Aug 30, 2015
4     Aug 3, 2017
Name: Joined, dtype: object

In [20]:
#We will be removing the months and work with only the year.
df['Contract_start'] = df['Joined'].apply(lambda x: x[-4:])
df['Contract_start']

0        2004
1        2018
2        2014
3        2015
4        2017
         ...
18974    2020
18975    2020
18976    2018
18977    2020
18978    2020
Name: Contract_start, Length: 18978, dtype: object

In [21]:
# Year at which contract end

# The last four digit indicated the year the contract end
# while for the values similar to this 'Jan 1, 2021 On Loan', will be using slicing to obtain the year

def values(value):
    if 'Loan' in value:
        value = value[7:12]
        value = value.strip(' ') # I added this line because some whitespace can present
        return value
    else:
        value = value[-4:]
        return value
        
df['Contract_end'] = df['Contract'].apply(lambda x : values(x))

In [22]:
df[['Contract_start','Contract_end']].head()

  Contract_start Contract_end
0           2004         2021
1           2018         2022
2           2014         2023
3           2015         2023
4           2017         2022

In [23]:
# Will be dropping the initial column of contract
df.drop('Contract', axis = 1, inplace = True)

In [24]:
#Dropping the columns because they are not needed
df.drop(['photoUrl', 'playerUrl', 'Name'], axis=1, inplace = True)
df

,LongName,Nationality,Positions,Age,OVA,POT,ID,Height,Weight,foot,...,SHO,PAS,DRI,DEF,PHY,Hits,Club,contract_type,Contract_start,Contract_end
0,Lionel Messi,Argentina,RW ST CF,33,93,93,158023,"5'7""",159lbs,Left,...,92,91,95,38,65,372,FC Barcelona,Under Contract,2004,2021
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,35,92,92,20801,"6'2""",183lbs,Right,...,93,81,89,35,77,344,Juventus,Under Contract,2018,2022
2,Jan Oblak,Slovenia,GK,27,91,93,200389,"6'2""",192lbs,Right,...,92,78,90,52,90,86,Atlético Madrid,Under Contract,2014,2023
3,Kevin De Bruyne,Belgium,CAM CM,29,91,91,192985,"5'11""",154lbs,Right,...,86,93,88,64,78,163,Manchester City,Under Contract,2015,2023
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,28,91,91,190871,"5'9""",150lbs,Right,...,85,86,94,36,59,273,Paris Saint-Germain,Under Contract,2017,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,Mengxuan Zhang,China PR,CB,21,47,52,257710,"5'10""",154lbs,Right,...,23,26,27,50,48,2,Chongqing Dangdai Lifan FC SWM Team,Under Contract,2020,2020
18975,Vani Da Silva,England,ST,17,47,67,258736,"5'7""",128lbs,Right,...,46,40,53,16,40,3,Oldham Athletic,Under Contract,2020,2021
18976,Ao Xia,China PR,CB,21,47,55,247223,"5'10""",146lbs,Right,...,28,26,38,48,51,3,Wuhan Zall,Under Contract,2018,2022
18977,Ben Hough,England,CM,17,47,67,258760,"5'9""",143lbs,Right,...,40,48,49,35,45,5,Oldham Athletic,Under Contract,2020,2021
18978,Mateo Flores,Bolivia,CDM,19,47,63,255958,"5'9""",150lbs,Right,...,32,43,48,44,49,2,Club Bolívar,Under Contract,2020,2024

In [25]:
#importing libraries that helps to check special characters in a column
import string
import re
alphabet = string.ascii_letters+string.punctuation

In [26]:
#To check if there are special characters in Name and LongName column of the players
df.LongName.str.strip(alphabet).astype(bool).any()

True

In [27]:
#Removing the special character in LongName using a function.
def strip_character(dataCol):
    r = re.compile(r'[^a-zA-Z !@#$%&*_+-=|\:";<>,./()[\]{}\']')
    return r.sub('', dataCol)

df['LongName'] = df['LongName'].apply(strip_character)

In [28]:
# Define functions to extract numerical values from strings

# Define a function to convert heights in feet and inches to centimeters
def convert_height(height_string):
    try:
        # Split the height string into feet and inches
        feet, inches = map(int, height_string.split("'"))
        
        # Convert feet and inches to centimeters (1 foot = 30.48 cm, 1 inch = 2.54 cm)
        height_cm = (feet * 30.48) + (inches * 2.54)
        
        return height_cm
    except ValueError:
        return None

def extract_height(height_str):
    try:
        
        # Remove ' " ' from the string and call the function that convert it to an integer in cm 
        return int(convert_height((height_str.strip('"'))))
    except ValueError:
        # If there's an error (e.g., non-numeric value), return None
        return None

def extract_weight(weight_str):
    try:
        # Remove 'lbs' from the string and convert to an integer
        return int(weight_str.strip('lbs'))
    except ValueError:
        # If there's an error (e.g., non-numeric value), return None
        return None

In [29]:
# Apply the functions to create new numerical columns
# We'll apply the extract_height function to the 'Height' column and create a new 'Height (cm)' column.
df['Height (cm)'] = df['Height'].apply(extract_height)

# Similarly, we'll apply the extract_weight function to the 'Weight' column and create a new 'Weight (kg)' column.
df['Weight (lbs)'] = df['Weight'].apply(extract_weight)

In [30]:
#Drop the original non-numerical columns 
df = df.drop(['Height', 'Weight'], axis=1)

In [31]:
# Convert the "Joined" column to datetime
df['Joined'] = pd.to_datetime(df['Joined'], format='%b %d, %Y')

In [32]:
# Calculate the current date
current_date = datetime.now()

In [33]:
# Calculate the time difference between the current date and "Joined"
df['Years Since Joining the current club'] = (current_date - df['Joined']).dt.days / 365

In [34]:
# Check if someone enrolled more than 10 years ago
df['Joined More Than 10 Years Ago'] = df['Years Since Joining the current club'] > 10

# Display the DataFrame
df.head()

,LongName,Nationality,Positions,Age,OVA,POT,ID,foot,BOV,BP,...,PHY,Hits,Club,contract_type,Contract_start,Contract_end,Height (cm),Weight (lbs),Years Since Joining the current club,Joined More Than 10 Years Ago
0,Lionel Messi,Argentina,RW ST CF,33,93,93,158023,Left,93,RW,...,65,372,FC Barcelona,Under Contract,2004,2021,170,159,19.235616,True
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,35,92,92,20801,Right,92,ST,...,77,344,Juventus,Under Contract,2018,2022,187,183,5.202740,False
2,Jan Oblak,Slovenia,GK,27,91,93,200389,Right,91,GK,...,90,86,Atlético Madrid,Under Contract,2014,2023,187,192,9.189041,False
3,Kevin De Bruyne,Belgium,CAM CM,29,91,91,192985,Right,91,CAM,...,78,163,Manchester City,Under Contract,2015,2023,180,154,8.065753,False
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,28,91,91,190871,Right,91,LW,...,59,273,Paris Saint-Germain,Under Contract,2017,2022,175,150,6.136986,False

In [35]:
df['Value'].unique()
df['Wage'].unique()
df['Release Clause'].unique()

array(['€138.4M', '€75.9M', '€159.4M', ..., '€101K', '€64K', '€35K'],
      dtype=object)

In [36]:
df['Value_Euro'] = df['Value'].str.strip('€')
df['Release Clause_Euro'] = df['Release Clause'].str.strip('€')
df['Wage_Euro'] = df['Wage'].str.strip('€')

In [37]:
def convert_to_dollar(dollar):
    if 'M' in dollar:
        dollar = dollar.strip('M')
        millon = float(dollar) * 1000000
        return millon
    else:
        dollar = dollar.strip('K')
        thousand = float(dollar) * 1000
        return thousand

In [38]:
df['Value_Euro'] = df['Value_Euro'].apply(lambda X: convert_to_dollar(X))
df['Release Clause_Euro'] = df['Release Clause_Euro'].apply(lambda X: convert_to_dollar(X))
df['Wage_Euro'] = df['Wage_Euro'].apply(lambda X: convert_to_dollar(X))

In [39]:
df.drop(['Value', 'Release Clause', 'Wage'], axis=1, inplace = True )

In [40]:
def extract_star(star_str):
    try:
        # Remove '*' from the string and convert to an integer
        return int(star_str.strip('★'))
    except ValueError:
        # If there's an error (e.g., non-numeric value), return None
        return None

In [41]:
df['IR'] = df['IR'].apply(extract_star)
df['WF']= df['WF'].apply(extract_star)
df['SM'] = df['SM'].apply(extract_star)

In [42]:
df.head()

,LongName,Nationality,Positions,Age,OVA,POT,ID,foot,BOV,BP,...,contract_type,Contract_start,Contract_end,Height (cm),Weight (lbs),Years Since Joining the current club,Joined More Than 10 Years Ago,Value_Euro,Release Clause_Euro,Wage_Euro
0,Lionel Messi,Argentina,RW ST CF,33,93,93,158023,Left,93,RW,...,Under Contract,2004,2021,170,159,19.235616,True,67500000.0,138400000.0,560000.0
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,35,92,92,20801,Right,92,ST,...,Under Contract,2018,2022,187,183,5.202740,False,46000000.0,75900000.0,220000.0
2,Jan Oblak,Slovenia,GK,27,91,93,200389,Right,91,GK,...,Under Contract,2014,2023,187,192,9.189041,False,75000000.0,159400000.0,125000.0
3,Kevin De Bruyne,Belgium,CAM CM,29,91,91,192985,Right,91,CAM,...,Under Contract,2015,2023,180,154,8.065753,False,87000000.0,161000000.0,370000.0
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,28,91,91,190871,Right,91,LW,...,Under Contract,2017,2022,175,150,6.136986,False,90000000.0,166500000.0,270000.0

In [43]:
df.to_csv('output.csv')